* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.nav-links{
  display:flex;
  align-items: center;
  gap: 24px;
  
  
}

.nav-links a, .dropbtn {
  

   border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a00;
  cursor: pointer;
  transition: border-color 0.25s;
}
.nav-links a:hover,
.dropbtn:hover {
 border-color: #646cff;
 background-color: #2857c600;
 
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* buttons */
.btn-primary {
  background: #ff7a00;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
}

.btn-outline {
  border: 1px solid #ff7a00;
  background: transparent;
  padding: 10px 15px;
  border-radius: 8px;
}

/* hero */
.hero {
  display: flex;
  padding: 60px;
  align-items: center;
  gap: 30px;
}

.hero img {
  width: 100%;
  height: auto;

  border-radius: 20px;
}

/* tabs */
.tabs-section {
  padding: 60px;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
}

.tab.active {
  background: #ff7a00;
  color: white;
}

.cardui {
  display: flex;
  flex-direction: column;
}

/* card grid*/
.tab-content {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 30px;
}

.tab-content.active {
  display: grid;
}

/* card design */
.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.icon {
  font-size: 32px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 8px;
}


/* testimonal */

.testimonial-section {
  margin-bottom: 20px;
    text-align: center;
}

.slider {
  position: relative;
  width: 60%;
  margin: auto;
  padding-top: 10px;
  
  
}

.slide {
  display: none;
  
  text-align: center;
  
  flex-direction: column;
  gap: 20px;
}

.slide.active {
   display: flex;
}
.prev,
.next {
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 8px;
}
/* faq */
.faq {
  width: 60%;
  margin: 10px auto;
}

.answer {
  display: none;
  padding: 10px;
}

/* form */
.form-section{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}
.form-section form {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* footer*/
.footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: #111;
  color: white;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .hero {
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }

  .hero-image img {
    width: 100%;
  }

  .tab-content {
    grid-template-columns: 1fr;
  }

  .slider {
    width: 90%;
  }

  .form-section form {
    width: 90%;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

@media (max-width: 1024px) {

  .hero {
    flex-direction: column;
  }

  .tab-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-section form {
    width: 70%;
  }
}
